body {
  font-family: sans-serif;
}

.board {
  /*display: table;*/
  font-family: monospace;
}

.row {
  display: table-row;
}

.square {
  background-color: lightgray;
  display: table-cell;
  padding: 5px;
}
