body {
  font-family: sans-serif;
}

.board {
  /*display: table;*/
  font-family: monospace;
}

.row {
  display: table-row;
}

.square {
  display: table-cell;
  width: 2em;
  padding: 5px;
}

.tile {
  background-color: lightgray;
}

.header {
  background-color: white;
}
