{% extends "layout.html" %}
{% block body %}
<h2>Game:</h2>
<div class=players>
  {% for player in game['players'] %}
    <div class=player>
        <span>{{ player['name'] }}</span>
        <span> {{ player['score'] }}</span>
    </div>
  {% endfor %}
</div>
<div class=board>
  {% for row in game['board'] %}
    <div class=row>
      {% for square in row %}
        <div class=square>{{ square }}</div>
      {% endfor %}
    </div>
  {% endfor %}
<div>
<div>
  Next player: {{ game['next_player'] }}
</div>
{% if session['logged_in'] == game['next_player'] %}
  <div> 
    <span>tiles: <span><span>{{ logged_in_player['tiles'] }}</span>
    <form action="{{ url_for('game', game_id=game['_id']) }}" method=post>
    TODO: play tiles form goes here...
      <input type=submit value=Play>
    </form>
  </div>
{% endif %}
{% endblock %}
