{% extends "layout.html" %}
{% block body %}
<h2>Game:</h2>
<div class=players>
  {% for player in game.players %}
    <div class=player>
        <span>{{ player.name }}</span>
        <span> {{ player.score }}</span>
    </div>
  {% endfor %}
</div>
<div class=board>
  <div class=row>
    <div class="square header"></div>
    {% for c in range(0,15) %}
      <div class="square header">{{ c }}</div>
    {% endfor %}
  </div>
  {% for r in range(0,15) %}
    <div class=row>
      <div class="square header">{{ r }}</div>
      {% for square in game.board[r] %}
        <div class="square tile">{{ square }}</div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
<div>
  <div>
    <span>your tiles: <span><span>{{ logged_in_player['tiles'] }}</span>
  </div>
  Next player: {{ game.players[game.next_player].name }}
</div>
{% if session['logged_in'] == game.players[game.next_player].name %}
  <div> 
    <form action="{{ url_for('game', game_id=game_id) }}" method=post>
      row:
      <select name="row">
        {% for r in range(0,15) %}
          <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
      </select>
      column:
      <select name="column">
        {% for c in range(0,15) %}
          <option value="{{ c }}">{{ c }}</option>
        {% endfor %}
      </select>
      direction:
      <select name="direction">
        <option value="across">across<option>
        <option value="down">down</option>
      </select>
      tiles:
      <input type=text name='tiles'>
      <input type=submit value=Play>
    </form>
  </div>
{% endif %}
{% endblock %}
