<!doctype html>
<html>
  <head>
    <title>ScrabbleHost</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utlf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class=page>
      <h1>Scrabble Host</h1>
      {% if session['logged_in'] %}
        <div>
          <div>logged in as {{ session['logged_in'] }}, </div>
          <a href="{{ url_for('logout') }}">log out</a>
        </div>
      {% else %}
        <div>
          <a href="{{ url_for('login') }}">log in</a>
        </div>
      {% endif %}
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
